{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreTemplateLiterals": false,
        "ignoreRegExpLiterals": false
      }
    ],
    "semi": ["error", "never"],
    "no-console": "error",
    "react/prop-types": 0,
    "react/jsx-curly-spacing": ["error", {
      "when": "never",
      "children": { "when": "always" },
    }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }]
  }
}
